-r requirements.txt
alabaster==0.7.10
argh==0.26.2
Babel==2.9.1
backports-abc==0.5
certifi==2022.12.7
chardet==3.0.4
docutils==0.14
funcsigs==1.0.2
futures==3.2.0
idna==2.8
imagesize==1.0.0
livereload==2.5.1
MarkupSafe==1.0
more-itertools==4.1.0
packaging==17.1
pathtools==0.1.2
pockets==0.6.2
port-for==0.3.1
py==1.10.0
Pygments==2.2.0
pyparsing==2.2.0
pytz==2018.4
requests==2.21.0
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.4
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.0.1
tornado==5.0.2
typing==3.6.4
watchdog==0.8.3
