alabaster==0.7.10
argh==0.26.2
attrs==17.4.0
Babel==2.5.3
backports-abc==0.5
boltons==19.3.0
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.1
docutils==0.14
funcsigs==1.0.2
futures==3.2.0
idna==2.8
imagesize==1.0.0
livereload==2.5.1
MarkupSafe==1.0
more-itertools==4.1.0
packaging==17.1
pathtools==0.1.2
pluggy==0.6.0
pockets==0.6.2
port-for==0.3.1
py==1.5.2
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.5.1
pytz==2018.4
PyYAML==3.12
requests==2.21.0
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.4
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.0.1
tornado==5.0.2
tox==2.9.1
typing==3.6.4
virtualenv==15.1.0
watchdog==0.8.3
