-r ../requirements.txt
alabaster==0.7.13
atomicwrites==1.4.1
Babel==2.11.0
certifi==2022.12.7
charset-normalizer==3.0.1
docutils==0.17.1
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
livereload==2.6.3
MarkupSafe==2.1.1
more-itertools==9.0.0
Pygments==2.14.0
pytz==2022.7.1
requests==2.28.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.1.1
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib.applehelp==1.0.2
toml==0.10.2
tornado==6.2
urllib3==1.26.14
